@model DevOpsPortal.Models.RteServer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>RteServer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ip" class="control-label"></label>
                <input asp-for="ip" class="form-control" />
                <span asp-validation-for="ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hostname" class="control-label"></label>
                <input asp-for="hostname" class="form-control" />
                <span asp-validation-for="hostname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rteServiceName" class="control-label"></label>
                <input asp-for="rteServiceName" class="form-control" />
                <span asp-validation-for="rteServiceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rteDir" class="control-label"></label>
                <input asp-for="rteDir" class="form-control" />
                <span asp-validation-for="rteDir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rteDrive" class="control-label"></label>
                <input asp-for="rteDrive" class="form-control" />
                <span asp-validation-for="rteDrive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
