@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    203 SE Park Plaza Dr<br />
    Vancouver, WA 98684<br />
    <abbr title="Phone">P:</abbr>
    360.256.4400
</address>

<address>
    <strong>Support:</strong> <a href="mailto:devops@jenkon.com">DevOps@jenkon.com</a><br />
    <strong>Slack:</strong> <a href="https://jenkondev.slack.com/messages/team-dev-ops">#team-dev-ops</a>
</address>
